@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    KM<br />
    Unknown<br />
    <abbr title="Phone">P:</abbr>
    XXXX XX XXXXX
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>